<!doctype html>
<html>
<head lang="zh-Hans">
	<title>track shipment for Yulu</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="static/lib/bootstrap/css/bootstrap.min.css">
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script-->
	<!--script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script-->
</head>
<body>
<!-- {% raw %} -->
<div class="container">
	<!--h3>追踪一个新的包裹</h3-->
	<form role="form" action="/track/add">
		<div class="form-group">
			<label>Client / Package contents:</label>
            <input type="text" name="customer" value="" class="form-control">
		</div>
		<div class="form-group">
			<label>Destination:</label>
			<input type="text" name="destination" value="" class="form-control">
		</div>
		<div class="form-group">
			<label>Tracking number:</label>
			<input type="text" name="trackingNumber" value="" class="form-control">
		</div>
		<div class="form-group">
			<label>Courier service:</label>
			<input type="text" name="slug" value="china-ems" class="form-control">E.g. china-ems, colissimo, OR la-poste-colissimo
		</div>
		<input type="submit" value="Submit" name="btnSubmit" class="btn btn-warning">
	</form><br><br> 

	<div id="as-root"></div>
	<script>
	// (function(e,t,n){
	// 	var r,i=e.getElementsByTagName(t)[0];
	// 	if(e.getElementById(n))return;r=e.createElement(t);
	// 	r.id=n;
	// 	r.src="//apps.aftership.com/all.js";
	// 	i.parentNode.insertBefore(r,i)})(document,"script","aftership-jssdk");
	</script>

	<div ng-app="myApp" ng-controller="myCtrl">
	  <h3>
	  	<div>Shipment history ({{total}} packages)</div>
	  </h3>
	  <h4 class="text-info">Last update：{{lastUpdate}} ago</h4>
	  
	  <table class="table table-striped">
	    <thead>
	      <tr>
	      	<th/>
	        <th>Client/PackageContents</th>
	        <th>Destination</th>
	        <th>TrackingNumber</th>
	        <!-- <th>物流公司</th> -->
	        <th>Arrived?</th>
	        <th>Last updated</th>
	        <th>Status</th>
	        <th>Submitted time</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="courier in couriers">
	        <td>
                <a type="button" class="btn btn-danger btn-xs" href="/track/delete?key={{courier.key}}">Delete</button><br>
        	</td>
	        <td>{{courier.customer}}</td>
	        <td>{{courier.destination}}</td>
            <td>{{courier.trackingNumber}}&nbsp;&nbsp;<a href="http://m.kuaidi100.com/index_all.html?type={{courier.slug}}&postid={{courier.trackingNumber}}" target="_blank" class="btn btn-warning btn-xs">Details</a></td>
	        <!-- <td>{{courier.slug}}</td> -->
	        <!-- <td>{{courier.arrived}}</td> -->
	        <td ng-if="courier.arrived">
			        <span class="glyphicon glyphicon-ok"></span>
			</td>
			<td ng-if="!courier.arrived">
			        <span class="glyphicon glyphicon-remove"></span>
			</td>
	        <td>{{courier.lastStatusDate}}</td>
	        <td>{{courier.lastStatus}}</td>
	        <td>{{courier.createdDate}}</td>

	      </tr>
	    </tbody>
	  </table>

	  <ul class="pager">
	    <li class="previous"><a href="" ng-click="previous()">Previous</a></li>
	    <li class="next"><a href="" ng-click="next()">Next</a></li>
	  </ul>
	</div>
</div>
<!-- {% endraw %} -->
<script>
	var app = angular.module('myApp', []);
	app.controller('myCtrl', function($scope, $http) {
		$scope.offset = 0;
		$scope.limit =10;
	    $http({
	        url: "/track/update",
	        method: "GET"
	    });

	    $scope.get = function(){
	    	$http.get("../track/get?offset="+$scope.offset +"&limit="+$scope.limit).success(function (response) {
	    			$scope.couriers = response.records;
	    			$scope.offset = response.offset;
	    			$scope.total = response.total;
	    			$scope.lastUpdate = response.lastUpdate;
	    		});
	    };
	    $scope.get();
		
	    $scope.previous = function(){
	    	newOffset = $scope.offset - $scope.limit ;
	    	if (newOffset <0) return;
	    	$scope.offset = newOffset;
	    	$scope.get();
	    };
	    $scope.next = function(){
	    	newOffset = $scope.offset + $scope.limit;
	    	if (newOffset >= $scope.total)	return;
	    	$scope.offset = newOffset;
	    	$scope.get();
	    };

		// $scope.delete = function(trackingNumber, key){
		//     var result = confirm("Want to delete " + trackingNumber + "?");
		// 	if (result) {
		// 		$http.get("/track/delete?key=" + key);
		// 	}
	 //    };

	});
</script>
</body>
</html>
